* {
  margin: 0;
  padding: 0;
}

.merriweather-primaryFont {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-secondaryFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

/* banner style  */

.banner {
  border-radius: 16px;
  background:
    linear-gradient(180deg, rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%),
    url("/images/Banner\ Image.png");
  margin: 50px 140px;
  padding: 138px 344px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-subheading {
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-bottom: 16px;
}

.banner-title {
  color: rgba(255, 255, 255, 1);
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  text-align: center;
}

/* discount style  */

.discount {
  max-width: 802.9px;
  margin: 0 auto;
}
.discount-amount {
  color: rgba(255, 0, 0, 1);
  font-size: 88px;
  font-weight: 700;
  line-height: 106px;
  text-align: center;
  margin-bottom: 45px;
}

.discount-para {
  color: rgba(255, 0, 0, 1);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  margin-bottom: 20px;
}

.discount-title {
  color: rgba(7, 2, 17, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  margin-bottom: 60px;
}

.newyear-image {
  width: 802.9px;
  height: 500px;
  margin-bottom: 120px;
}

/* welcome banner  */

.welcome-banner {
  background:
    linear-gradient(90deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%),
    url("/images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  aspect-ratio: 17 / 8.5;
  border-radius: 16px;
  padding: 0px 135px;
  margin: 50px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.welcome-title {
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11px;
  text-align: left;
  margin-bottom: 12px;
}

.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-bottom: 42px;
}

.join-btn button {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
.year img {
  width: 319.83px;
  height: 464.66px;
}

/* date-time style  */

.event-details {
  background: linear-gradient(
    180deg,
    rgb(255, 232, 232),
    rgba(255, 255, 255, 1)
  );
  max-width: 1460px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 80px;
}
span {
  color: #ff0000;
}

.event-time,
.event-date,
.event-place {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.event-join button {
  border-radius: 8px;
  background: rgba(255, 0, 0, 1);
  border: none;
  gap: 10;
  padding: 16px 32px 16px 32px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.event-join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

/* comming offer style  */

.comming-offer {
  max-width: 1460px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}

.coloum1,
.coloum2,
.coloum3 {
  flex: 1;
}

.offer-subtitle {
  color: rgba(255, 0, 0, 1);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}

.offer-title {
  color: rgba(7, 2, 17, 1);
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  text-align: left;
  text-transform: capitalize;
  margin: 16px 0;
}

.coloum1 {
  text-align: left;
}
.coloum2 img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 15px solid rgba(255, 0, 0, 1);
  border-radius: 50%;
  padding: 18px;
}

.current-year {
  color: rgba(255, 0, 0, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  margin-bottom: 16px;
}

.happy-year-img {
  width: 140px;
  height: 132.79px;
  margin-top: 46px;
}

/* holiday style  */
.holiday-sale {
  text-align: center;
  max-width: 1068px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.holiday-subtitle {
  color: rgba(7, 2, 17, 1);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.holiday-title {
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  margin: 30px 0;
}

.holiday-para {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
}

/* 50% sale */

.gift-sale {
  width: 1320px;
  height: 229px;
  margin: 420px auto 100px;
  position: relative;
  overflow: visible;
}

.sale {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 16px 0px 16px 16px;
  background: rgba(255, 0, 0, 1);
  height: 200px;
}

.gift-box {
  width: 674.82px;
  height: auto;
}

.sale-img {
  width: 300px;
  height: auto;
  margin-right: 40px;
  transform: translateY(-220px);
}

/* gift cards */

.gift-items {
  max-width: 1320px;
  margin: 0 auto;
}

.card-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 30px auto 100px;
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}
